# /usr/lib/systemd/system/opensim_money.net.service 
#
#         v.0.2      by Fumi.Iseki
#

[Unit]
Description = MoneyServer for OpenSimulator
After = opensim_robust.net.service

[Service]
Environment = OPENSIM_DIR=/usr/local/opensim_server
Environment = OPENSIM_COM=MoneyServer
Environment = OPENSIM_DLL=MoneyServer.dll
Environment = EXEC_COM=/usr/bin/dotnet
Environment = TMUX_OS_ID=opensim_money
#Environment = WAIT_STOP_TM=5

Type = forking
User = root
LimitSTACK = infinity

WorkingDirectory = ${OPENSIM_DIR}/bin

ExecStart = /usr/bin/tmux new -d -s ${TMUX_OS_ID} -c ${OPENSIM_DIR}/bin ${OPENSIM_DIR}/bin/${OPENSIM_COM}
#ExecStop  = /usr/bin/tmux send-keys -t ${TMUX_OS_ID} C-m "quit" C-m ; /usr/bin/sleep ${WAIT_STOP_TM}

Restart = always

[Install]
WantedBy = multi-user.target
